.HeaderSections {
    text-align: center;
    padding-bottom: 80px;
}

.sectionBtn {
    padding: 8px 14px;
    border: 2px solid black;
    background-color: white;
    border-radius: 6px;
}

.sectionTitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    padding: 14px 0px;
}

.sectionParagraph {
    font-weight: 500;
    line-height: 150%;
    max-width: 880px;
    margin: 0px auto;
}

@media screen and (max-width : 992px) {
    .HeaderSections {
    padding-bottom: 50px;
}
    .sectionTitle {
        font-size: 38px;
    }
}