.freqCards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: end;
}

.freqCard {
    padding: 30px 34px;
    border: 2px solid var(--GrayColor);
    border-radius: 10px;
    background-color: var(--questionsBG);
    max-height: 108px;
    min-height: 102px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.asked {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
}

.question {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

.askedIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    font-size: 20px;
    background-color: var(--BackgroundColor);
    border: 2px solid var(--GrayColor);
    border-radius: 4px;
}

.opened {
    background-color: white !important;
    max-height: fit-content;
}

.answer {
    margin-top: 20px;
    border-top: 2px solid var(--GrayColor);
    padding-top: 20px;
    margin-right: 6vw;
    width: fit-content;
}

@media screen and (max-width : 992px) {
    .freqCards{
        grid-template-columns: repeat(auto-fit, minmax(250px, 771px));
    }
    .freqCard {
    padding: 20px 24px;
    border: 2px solid var(--GrayColor);
    border-radius: 10px;
    background-color: var(--questionsBG);
    max-height: fit-content;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
}