.awardsSlider {
    padding-top: 60px;
    margin-bottom: 40px;
}

.card {
    flex: 0 0 clamp(315px, 30%, 625px);
}

.sliderFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnGroup {
    display: flex;
    align-items: center;
    gap: 16px;

}

.sliderBtn {
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid var(--GrayColor);
    border-radius: 8px;
    padding: 12px;
    font-size: 24px;
}

.awardsNum {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
}

@media screen and (max-width : 1024px) {
    .sliderContainer {
        flex-direction: column;
    }

    .sliderWrapper {
        max-width: 425px;
        width: 100%;
    }

    .cardsSlider {
        width: 100%;
    }

    .card {
        min-width: 258px;
        flex: 0 0 97%;
    }
}