.historyLines {
    padding: 14.6vh 10.5vw;
    background-color: white;
    border: 2px solid var(--GrayColor);
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    border-radius: 12px;
}

.container {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.bigLine {
    position: absolute;
    width: 14px;
    background-color: black;
    border: 6px solid var(--shadowColor);
    z-index: 1;
    left: 10px;
}

.historyLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yearSide {
display: flex;
    align-items: center;
    position: relative;
    gap: 0;
}

.yearCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid var(--GrayColor);
    box-shadow: 6px 6px 0px 2px #1E1E1E;
    border-radius: 12px;
    padding: 30px 50px;
    margin-right: 50px;
}

.year {
    font-weight: 700;
    font-size: 68px;
}

.groupLine {
    display: flex;
    align-items: center;
}

.circle {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    border: 2px solid var(--GrayColor);
    border-radius: 50%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.circleR {
    transform: translateX(50%);
}

.circleL {
    transform: translateX(-50%);
    margin-right: -12px; 
    z-index: 3;
}

.line {
    position: relative;
    z-index: 1;
    flex: 1;
    min-width: 3.5vw;
    height: 14px;
    background-color: black;
    border: 6px solid var(--shadowColor);
    border-left: none;
}

.title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px;
}

.desc {
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width : 992px) {
    .historyLines {
        padding: 50px 10px;
    }

    .historyLine {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 30px;
    }

    .img {
        width: 50px;
    }

    .yearCard {
        padding: 20px 24px;
        margin-right: 30px;
    }

    .year {
        font-size: 38px;
    }

    .title {
        font-size: 22px;
        margin-bottom: 12px;
    }

    .desc {
        font-size: 16px;
    }

    .content {
        width: 65%;
        margin-left: 70px;
        margin-right: 20px;
    }

    .line {
        max-width: 50%;
        min-width: 5vw;
    }
}